<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVAkZs8AhU_PWbT2jrYrUNHTarK4fT6Bg</string>
	<key>GCM_SENDER_ID</key>
	<string>369587275430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectUap</string>
	<key>PROJECT_ID</key>
	<string>prak-mobile2025</string>
	<key>STORAGE_BUCKET</key>
	<string>prak-mobile2025.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369587275430:ios:e2cc9c713cbcde96931667</string>
	<key>DATABASE_URL</key>
	<string>https://prak-mobile2025-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>